.hero{
    max-width: 60vw;
    margin: auto;
    padding-top: 2px;
}

.text{
    max-width: 60vw;
    justify-content: center;    
}

.text p{
    color: white;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 25px;
}

.text span{
    font-weight: 900;
    font-size: 100px;
}

#find{
    color: white;
}

#match{
    color: #DC3C3B;
}

#chat{
    color: white;
}

.hero-cards{
    display: flex;
    justify-content:flex-start;
    gap: 10px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.card-image{
    width: 300px;
    height: 400px;
    border: 2px solid white;
    border-radius: 40px ;
    overflow: hidden;
    cursor: pointer;
}

.card-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.card span{
    color: white;
}

.button button{
    padding: 20px 50px 20px 50px;
    border-radius: 40px;
    color: white;
    border: 2px solid #DC3C3B;
    background-color: #DC3C3B;
    text-align: center;
    font-size: large;
    margin-top: 32.5px;
}

.button button:hover{
    background-color: #242424;
    transition: background-color, 0.3s;
    cursor: pointer;
}

.footer{
    margin-top: 22.5px;
    color: white;
    display: flex;
    justify-content: flex-start;
    gap: 210px;
}
